# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [21]:
# your code here
import numpy as np
import pandas as pd

In [94]:
retail = pd.read_csv('../data/Warehouse_and_Retail_Sales.csv', sep= ',')
print(retail.shape)
print(retail.info())
retail.head()

(128355, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128355 entries, 0 to 128354
Data columns (total 9 columns):
YEAR                128355 non-null int64
MONTH               128355 non-null int64
SUPPLIER            128331 non-null object
ITEM CODE           128355 non-null object
ITEM DESCRIPTION    128355 non-null object
ITEM TYPE           128354 non-null object
RETAIL SALES        128355 non-null float64
RETAIL TRANSFERS    128355 non-null float64
WAREHOUSE SALES     128355 non-null float64
dtypes: float64(3), int64(2), object(4)
memory usage: 8.8+ MB
None

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0

In [19]:
# checking missing values
null_cols = retail.isnull().sum()
null_cols[null_cols > 0]

SUPPLIER     24
ITEM TYPE     1
dtype: int64

In [23]:
# checking low variance
low_variance = []

for col in retail._get_numeric_data():
    minimum = min(retail[col])
    ninety_perc = np.percentile(retail[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)

[]

In [40]:
# checking extreme values and outliers
stats = retail.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
YEAR,128355.0,2017.206030,0.404454,2017.00,2017.0,2017.00,2017.00,2018.00,0.00
MONTH,128355.0,7.079303,3.645826,1.00,5.0,8.00,10.00,12.00,5.00
RETAIL SALES,128355.0,6.563037,28.924944,-6.49,0.0,0.33,3.25,1616.60,3.25
RETAIL TRANSFERS,128355.0,7.188161,30.640156,-27.66,0.0,0.00,4.00,1587.99,4.00
WAREHOUSE SALES,128355.0,22.624213,239.693277,-4996.00,0.0,1.00,4.00,16271.75,4.00

In [51]:
#removing outliers

retail_clean = pd.DataFrame(columns=retail.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = retail[(retail[col] < lower) | 
                   (retail[col] > upper)].copy()
    results['Outlier'] = col
    retail_clean = retail_clean.append(results)
    
retail_clean

,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,MONTH,Outlier,RETAIL SALES,RETAIL TRANSFERS,SUPPLIER,WAREHOUSE SALES,YEAR
4068,99090,BITBURGER 1/2K,KEGS,2,YEAR,0.00,0.0,LEGENDS LTD,2.00,2018
101911,100009,BOOTLEG RED - 750ML,WINE,1,YEAR,0.00,0.0,REPUBLIC NATIONAL DISTRIBUTING CO,1.00,2018
101912,100012,PAPI P/GRIG - 750ML,WINE,1,YEAR,0.00,0.0,INTERBALT PRODUCTS CORP,1.00,2018
101913,100080,KEDEM CREAM RED CONCORD - 750ML,WINE,1,YEAR,0.00,0.0,ROYAL WINE CORP,1.00,2018
101914,1001,SAM SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,1,YEAR,0.00,0.0,RELIABLE CHURCHILL LLLP,1.00,2018
101915,100200,GAMLA CAB - 750ML,WINE,1,YEAR,0.08,0.0,ROYAL WINE CORP,0.00,2018
101916,100285,NAOUSSA RED WINE - 750ML,WINE,1,YEAR,0.00,0.0,DIONYSOS IMPORTS INC,4.00,2018
101917,100293,SANTORINI GAVALA WHITE - 750ML,WINE,1,YEAR,0.92,0.0,DIONYSOS IMPORTS INC,8.00,2018
101918,100641,CORTENOVA VENETO P/GRIG - 750ML,WINE,1,YEAR,0.41,0.0,KYSELA PERE ET FILS LTD,5.00,2018
101919,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,1,YEAR,0.33,0.0,SANTA MARGHERITA USA INC,0.00,2018
101920,100803,CYT XPLORADOR CHARD - 750ML,WINE,1,YEAR,1.14,0.0,REPUBLIC NATIONAL DISTRIBUTING CO,0.00,2018
101921,100927,CRISTALINO EX/DRY - 750ML,WINE,1,YEAR,0.58,0.0,REPUBLIC NATIONAL DISTRIBUTING CO,1.00,2018
101922,10095,HEAVY SEAS AMERICANNON 4/6 NR,BEER,1,YEAR,25.25,58.0,CLIPPER CITY BREWING CO,81.00,2018
101923,10096,HEAVY SEAS SIREN NOIRE 6/4 NR,BEER,1,YEAR,0.00,0.0,CLIPPER CITY BREWING CO,46.00,2018
101924,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,1,YEAR,3.04,10.0,JIM BEAM BRANDS CO,0.00,2018
101925,101079,KSARA CUV DU PAPE CHARD - 750ML,WINE,1,YEAR,0.00,0.0,AMERICAN FIDELITY TRADING,1.00,2018
101926,101117,KSARA CAB - 750ML,WINE,1,YEAR,0.73,0.0,AMERICAN FIDELITY TRADING,1.00,2018
101927,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,1,YEAR,2.20,0.0,HEAVEN HILL DISTILLERIES INC,0.00,2018
101928,10123,NOTEWORTHY SMALL BATCH BOURBON - 750ML,LIQUOR,1,YEAR,2.88,2.0,BACCHUS IMPORTERS LTD,0.00,2018
101929,10124,NOTEWORTHY SMALL BATCH RYE 750ML,LIQUOR,1,YEAR,2.89,0.0,BACCHUS IMPORTERS LTD,0.00,2018
101930,10125,NOTEWORTHY SMALL BATCH HONEY BBN 750,LIQUOR,1,YEAR,2.21,1.0,BACCHUS IMPORTERS LTD,0.00,2018
101931,101346,ALSACE WILLIAM GEW - 750ML,WINE,1,YEAR,0.00,0.0,MONSIEUR TOUTON SELECTION,1.00,2018
101932,101532,HATSUMAGO SAKE JUN MAI SHU - 720ML,WINE,1,YEAR,1.36,0.0,A VINTNERS SELECTIONS,1.00,2018
101933,101567,HATSUMAGO SAKE JUN MAI SHU - 300ML,WINE,1,YEAR,1.17,1.0,A VINTNERS SELECTIONS,8.00,2018
101934,101621,CH CALLAC GRAVES BLC - 750ML,WINE,1,YEAR,0.08,0.0,WILLIAM HARRISON IMPORTS,0.00,2018
101935,101664,RAMON CORDOVA RIOJA - 750ML,WINE,1,YEAR,0.58,2.0,ROYAL WINE CORP,0.00,2018
101936,101672,KEDEM SHERRY ROYALE - 750ML,WINE,1,YEAR,0.00,0.0,ROYAL WINE CORP,1.00,2018
101937,101680,MANISCHEWITZ CREAM WH CONCORD - 1.5L,WINE,1,YEAR,0.34,0.0,REPUBLIC NATIONAL DISTRIBUTING CO,0.00,2018
101938,101753,BARKAN CLASSIC PET SYR - 750ML,WINE,1,YEAR,0.00,0.0,ROYAL WINE CORP,4.00,2018
101939,10195,PEAK ORGANIC HIGHBALL GINGER MULE 6/4 CN,BEER,1,YEAR,0.00,0.0,LEGENDS LTD,1.00,2018
...,...,...,...,...,...,...,...,...,...,...
128284,98213,SAPPORO DRAFT NR 12/CS - 20.3OZ,BEER,2,WAREHOUSE SALES,1.22,0.0,REPUBLIC NATIONAL DISTRIBUTING CO,42.00,2018
128285,9822,AGUILA 4/6 NR - 12OZ,BEER,2,WAREHOUSE SALES,2.25,5.0,MILLER BREWING COMPANY,43.00,2018
128295,98558,SIERRA NEVADA HOP BULLET 4/6 NR,BEER,2,WAREHOUSE SALES,47.75,46.0,SIERRA NEVADA BREWING CO,162.00,2018
128297,98604,PAULANER PREM LAGER 4/6NR - 12OZ,BEER,2,WAREHOUSE SALES,12.75,6.0,REPUBLIC NATIONAL DISTRIBUTING CO,32.00,2018
128298,98639,DELIRIUM TREMENS 4/6NR - 11.2OZ,BEER,2,WAREHOUSE SALES,0.00,0.0,DOPS INC,15.00,2018
128299,98655,PAULANER HEFEWEIZEN 4/6NR - 12OZ,BEER,2,WAREHOUSE SALES,12.25,15.0,REPUBLIC NATIONAL DISTRIBUTING CO,34.00,2018
128300,98663,WARSTEINER 4/6 NR - 12OZ,BEER,2,WAREHOUSE SALES,24.50,23.0,WARSTEINER IMPORTERS,43.00,2018
128301,98671,SHOCK TOP BELGIUM WHITE 1/2 KG,KEGS,2,WAREHOUSE SALES,0.00,0.0,ANHEUSER BUSCH INC,31.00,2018
128302,98680,SHOCK TOP BELGIUM WHITE 1/6 KG,KEGS,2,WAREHOUSE SALES,0.00,0.0,ANHEUSER BUSCH INC,41.00,2018
128303,98701,WARSTEINER 2/12 NR - 12OZ,BEER,2,WAREHOUSE SALES,0.00,0.0,WARSTEINER IMPORTERS,30.00,2018
128304,98728,WEIHENSTPHANER HEFE-WEISS 4/6NR - 12OZ,BEER,2,WAREHOUSE SALES,0.00,0.0,DOPS INC,16.00,2018
128305,98744,STELLA ARTOIS 4/6 NR - 11.2OZ,BEER,2,WAREHOUSE SALES,420.72,363.0,ANHEUSER BUSCH INC,1309.38,2018
128306,98752,WARSTEINER DUNKEL 4/6 NR - 12OZ,BEER,2,WAREHOUSE SALES,12.79,14.0,WARSTEINER IMPORTERS,30.00,2018
128309,98850,WEIHENSTEPHANER ORIGINAL 4/6NR - 12OZ,BEER,2,WAREHOUSE SALES,1.00,0.0,DOPS INC,11.00,2018
128317,99155,DOGFISH HEAD MIDAS TOUCH 6/4 NR - 12OZ,BEER,2,WAREHOUSE SALES,14.11,15.0,DOGFISH HEAD CRAFT BREWERY,30.96,2018
128319,99171,TECATE 12/24OZ - CAN - 24OZ,BEER,2,WAREHOUSE SALES,0.00,0.0,HEINEKEN USA,60.92,2018
128320,99198,MODELO ESPECIAL 2/12 NR - 12OZ,BEER,2,WAREHOUSE SALES,0.00,1.0,CROWN IMPORTS,3759.50,2018
128321,99201,NEGRA MODELO 2/12 NR - 12OZ,BEER,2,WAREHOUSE SALES,0.00,0.0,CROWN IMPORTS,295.50,2018
128322,99228,KALIBER BREW NA 4/6 NR - 12OZ,NON-ALCOHOL,2,WAREHOUSE SALES,7.50,8.0,DIAGEO NORTH AMERICA INC,30.00,2018
128326,99350,YUENGLING LAGER 1/4K,KEGS,2,WAREHOUSE SALES,0.00,0.0,YUENGLING BREWERY,35.00,2018
128332,99570,DOS EQUIS AMBER 1/2K,KEGS,2,WAREHOUSE SALES,0.00,0.0,HEINEKEN USA,19.00,2018
128337,99665,BITBURGER NA 4/6 NR - 11.2OZ,NON-ALCOHOL,2,WAREHOUSE SALES,0.00,0.0,LEGENDS LTD,12.00,2018
128341,99708,SIERRA NEVADA PALE ALE 2/12 NR - 12OZ,BEER,2,WAREHOUSE SALES,0.00,0.0,SIERRA NEVADA BREWING CO,235.00,2018
128343,99716,SIERRA NEVADA PALE ALE 12/24OZ NR - 24OZ,BEER,2,WAREHOUSE SALES,0.00,0.0,SIERRA NEVADA BREWING CO,48.00,2018
128346,99740,MOLSON GOLDEN 2/12 LNNR - 12OZ,BEER,2,WAREHOUSE SALES,0.00,0.0,MILLER BREWING COMPANY,193.50,2018
128350,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,2,WAREHOUSE SALES,66.46,59.0,ANHEUSER BUSCH INC,212.00,2018
128351,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,2,WAREHOUSE SALES,9.08,7.0,COASTAL BREWING COMPANY LLC,35.00,2018
128352,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,2,WAREHOUSE SALES,0.00,0.0,BOSTON BEER CORPORATION,32.00,2018
128353,BC,BEER CREDIT,REF,2,WAREHOUSE SALES,0.00,0.0,NaN,-35.00,2018
128354,WC,WINE CREDIT,REF,2,WAREHOUSE SALES,0.00,0.0,NaN,-81.00,2018

In [95]:
#table for the aggregate per store.

retail_store = retail_clean.groupby(['SUPPLIER'])['RETAIL SALES','RETAIL TRANSFERS','WAREHOUSE SALES'].agg(sum).reset_index()

retail_store

,SUPPLIER,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,8 VINI INC,0.24,0.00,0.00
1,A I G WINE & SPIRITS,3.64,0.00,69.00
2,A VINTNERS SELECTIONS,12488.00,12542.14,30648.79
3,A&E INC,1.72,0.00,0.00
4,ADAMBA IMPORTS INTL,9.78,22.83,0.00
5,AIKO IMPORTERS INC,2.76,3.00,0.00
6,ALLAGASH BREWING COMPANY,805.95,862.00,3719.92
7,ALLIED IMPORTERS USA LTD,0.68,2.00,0.00
8,ALTITUDE SPIRITS INC,2.29,0.00,0.00
9,AMERICAN BEVERAGE CORPORATION,266.69,288.26,143.00
10,AMERICAN BEVERAGE MARKETERS,3682.50,3930.35,599.00
11,AMERICAN FIDELITY TRADING,16.78,15.00,151.00
12,AMERICAN VINTAGE BEVERAGE INC,0.34,0.00,0.00
13,ANHEUSER BUSCH INC,130979.27,138100.84,1213425.53
14,ARCHER ROOSE LLC,0.00,0.00,0.00
15,AREL GROUP WINE & SPIRITS,799.08,847.34,874.92
16,ARIS A ZISSIS,2.44,-0.08,0.00
17,ARTISANS & VINES LLC,17.96,18.66,1691.42
18,ASAHI BEER USA INC,720.64,768.00,3798.17
19,ATLAS BREW WORKS LLC,585.93,623.25,2288.53
20,AW DIRECT LLC,0.66,0.00,0.00
21,AZIZ SHAFI TANNIC TONGUE,0.16,0.00,58.83
22,BACARDI USA INC,60535.31,64479.17,11183.65
23,BACCHUS IMPORTERS LTD,2705.87,2725.07,5746.61
24,BACKUP BEVERAGE,17.22,35.00,542.75
25,BANFI PRODUCTS CORP,9340.78,9560.75,5899.92
26,BANVILLE & JONES WINE MERCHANTS,1.22,0.00,0.00
27,BARON FRANCOIS LTD,2495.75,2630.82,1108.76
28,BASIGNANI WINERY,0.16,0.00,0.00
29,BINDING BRAUEREI USA INC,68.01,82.00,527.49
...,...,...,...,...
273,TREASURY WINE ESTATES AMERICAS COMPANY,39129.93,41164.01,30875.71
274,TREFETHEN VINEYARDS,77.94,77.67,15.00
275,TRI-VIN IMPORTS,1422.83,1469.60,4954.69
276,TRICANA SHIPPERS & IMPORT,29.91,16.92,100.75
277,UNITED STATES BEVERAGE,532.96,543.00,2402.00
278,UNITED STATES DISTILLED PRODUCTS,3047.05,3307.33,1335.32
279,USA WINE WEST LLC,0.56,0.00,3.00
280,VIGNOBLES LVDH USA INC,218.77,240.92,532.00
281,VIN DIVINO LTD,51.47,109.00,1.00
282,VINTAGE POINT LLC,7.13,8.00,212.00
283,VINTAGE WINE ESTATES INC,365.67,357.92,185.00
284,VINTAGE WINES INC,10.60,0.00,46.00
285,VINTURE WINE COMPANY LLC,1.48,2.00,9.00
286,VINTUS LLC,7.37,3.00,0.00
287,WAGNER WINE COMPANY LLC,67.37,83.00,144.00
288,WARSTEINER IMPORTERS,1666.77,1784.00,3614.00
289,WASHBURN WINE CO,18.72,13.00,100.00
290,WESTERN SPIRITS BEVERAGE COMPANY LLC,755.42,711.63,28.00
291,WETTEN IMPORTERS INC,0.00,0.00,2.00
292,WI INC,257.41,310.00,802.84
293,"WI,INC",72.51,84.00,278.76
294,WILLIAM GRANT AND SONS INC,22924.69,24605.75,1927.49
295,WILLIAM HARRISON IMPORTS,6.06,1.00,3.00
296,WILLIAMS CORNER WINE,0.24,0.00,33.00
297,WILSON DANIELS LTD,502.46,676.33,30.00
298,WINE BRIDGE IMPORTS INC,163.00,257.60,288.00
299,YOUNG WON TRADING INC,1668.99,1704.85,1961.00
300,YUENGLING BREWERY,30316.91,32218.51,152960.39
301,Z WINE GALLERY IMPORTS LLC,1.89,2.00,3.00
302,ZURENA LLC,6.63,13.00,0.00

In [97]:
 # aggregated sales per item.

retail_item = retail_clean.groupby(['ITEM CODE'])['RETAIL SALES','RETAIL TRANSFERS','WAREHOUSE SALES'].agg(sum).reset_index()
retail_item

      ITEM CODE  RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
0        100009          0.00              0.00            10.00
1        100012          0.00              0.00             2.00
2        100080          0.00              0.00             1.00
3          1001          0.00              0.00             3.00
4        100200          0.72              0.00             0.00
5        100285          0.00              0.00             6.00
6        100293          4.79              0.00            41.00
7        100641          0.97              2.00            83.00
8        100714          0.00              0.00             2.00
9        100749          0.49              0.00             0.00
10       100803          1.71              0.00             3.00
11       100927          0.58              0.00             1.00
12        10093          0.00              0.00             2.00
13        10094          0.00              0.00             1.00
14        10095        286.00            492.00           448.00
15        10096          0.00              0.00            96.00
16        10103          7.04             10.00             0.00
17       101079          0.00              0.00             1.00
18       101117          1.79              0.00             1.00
19        10120          2.54              0.00             0.00
20        10123          6.78             31.00             0.00
21        10124          6.46             27.00             0.00
22        10125          4.41             28.67             0.00
23       101346          0.00              0.00             1.00
24       101370          0.00              0.00             1.00
25       101486          0.00              0.00             3.00
26       101532          2.72              0.00             3.00
27       101567          6.19              7.00            32.00
28       101605          0.00              0.00             1.00
29       101621          0.25              0.00             0.00
...         ...           ...               ...              ...
15967     99554          2.38              4.00             4.00
15968     99562          0.00              0.00            10.00
15969    995692          0.00              0.00             4.00
15970     99570          0.00              0.00           189.00
15971     99589          0.32              0.00             0.00
15972     99597          0.81              1.00             1.00
15973     99643          1.33              0.00            20.00
15974     99662          0.00              0.00            26.00
15975     99665          2.00              4.00           115.00
15976     99668          0.24              1.00            34.00
15977     99671          0.00              0.00             4.00
15978     99684          5.40              7.00             2.00
15979     99693          0.00              0.00             0.83
15980     99706         45.00             45.00           855.00
15981     99708          1.40              0.00          3469.00
15982     99713          1.45              4.00             3.00
15983     99716          0.00              0.00           495.00
15984     99727          0.00              0.00             3.00
15985     99730          0.00              0.00             5.00
15986     99740          0.00              0.00          1734.50
15987     99741          0.68              2.00             1.00
15988     99753          0.00              0.00            17.00
15989     99770          5.75              8.00            14.00
15990     99813          0.00              0.00             3.00
15991      9997       2502.00           2678.76          7513.45
15992     99970        329.72            305.00          1262.00
15993     99988          0.00              0.00           126.00
15994     99990        189.50            269.00          2927.50
15995        BC          0.00              0.00         -6078.00
15996        WC          0.00              0.00          -879.00

[15997 rows x 4 columns]

In [98]:
import pymysql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:Krolik12@localhost/Warehouse')
retail_item.to_sql('Sales_per_item', engine, if_exists='replace', index=False)
retail_store.to_sql('Sales_per_store', engine, if_exists='replace', index=False)